

/* Navbar Section */

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    min-height: 100vh;
    margin: 0;
}
/* common items */
.primaryBtn{
    padding: 10px 20px;
    background-color: #4E47FF;
    color: white;
    font-size: medium;
    border: 0px;
    border-radius: 10px;
}

.primaryBtn:hover{
    background-color: #47ffffda;
}

.NavbarSection{
    height: 700px;
    width: 1440px;
    background-image: url("../Assets/Hero-bg.png");
    padding-bottom: 100px;
   

}
.NavbarDiv{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}

.logoName{
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

.slogan{
    font-size: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
   
}

/* Action section */
.actionSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 150px;
}

.actionLeft{
   padding: 0px 50px;
}

.actionLeft h2{
    font-size: 42px;
}
.actionLeft p{
    font-size: 24px;
    color: #252432;
}

.actionRight img{
    width: 400px;
    height: 330px;
    border-radius: 50px;
}